## Q1.) What are the two values of the Boolean data type? How do you write them?

Boolean data type takes two values that is True (1) and False (0). We write them like --

In [2]:
bool1=True
bool2=False
print(bool1)
print("---------------------------")
print(bool2)

True
---------------------------
False

## Q2.) What are the three different types of Boolean Operators?

Three different types of Boolean Operators are --- "AND", "OR", and "NOT".

In [11]:
# "AND" Operator ---> The result of X & Y is TRUE if both X and Y evaluate to True. Otherwise, the result is FALSE.

x=True
y=False
print(x and y)

False

In [12]:
x=True
y=True
print(x and y)

True

In [13]:
# "OR" Operator ---> The result of X | Y is TRUE if either X or Y evaluates to True. Otherwise, the result is FALSE.

x=True
y=False
print(x or y)

True

In [14]:
x=False
y=False
print(x or y)

False

In [15]:
# "NOT" Operator ---> The result is TRUE if the value of X is FALSE and vice-versa.

x=True
print(not x)

False

In [16]:
x=False
print(not x)

True

## Q3.) Make a list of each Boolean Operator's Truth Tables (i.e. every possible combination of Boolean values for the operator and what it evaluates).

XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX TRUTH TABLES XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX

    AND OPERATOR
--------------------------

  A       B       OUTPUT
  0       0         0
  1       0         0
  0       1         0
  1       1         1
    
    OR OPERATOR
--------------------------

  A       B       OUTPUT
  0       0         0
  1       0         1
  0       1         1
  1       1         1
    
    NOT OPERATOR
--------------------------
   A       OUTPUT
   0         1
   1         0

In [17]:
# AND OPERATOR

x=1
y=1
print(x and y)

True

In [18]:
x=1
y=0
print(x and y)

False

In [19]:
x=0
y=1
print(x and y)

False

In [20]:
x=0
y=0
print(x and y)

False

In [21]:
# OR OPERATOR

x=1
y=1
print(x or y)

True

In [23]:
x=1
y=0
print(x or y)

True

In [24]:
x=0
y=1
print(x or y)

True

In [25]:
x=0
y=0
print(x or y)

False

In [46]:
# NOT OPERATOR

x=1
print(not x)

False

In [47]:
x=0
print(not x)

True

## Q4.) What are the values of the following expressions?

In [28]:
(5>4) and (3==5)

False

In [29]:
not (5>4)

False

In [30]:
(5>4) or (3==5)

True

In [31]:
not((5>4) or (3==5))

False

In [32]:
(True and True) and (True==False)

False

In [33]:
(not False) or (not True)

True

## Q5.) What are six comparison operators?

The six comparison operators are :- >,<,==,>=,<=,!=

In [34]:
# > (greater than)

(5>4)

True

In [35]:
# < (less than)

(5<4)

False

In [36]:
# == (equal operator)

10==10

True

In [37]:
# >= (greater than equal to)

7>=4

True

In [38]:
7>=7

True

In [39]:
# <= (less than equal to)

5<=9

True

In [40]:
# != (not equal to)

2!=9

True

## Q6.) How do you tell the difference between the equal to and assignment operators? Describe a condition and when you would use one.

Equal to operator (==) is used when we want to do the comparison between the two conditions if they are equal or not and Assignment Operators (=) are used when we want to assign the value to a variable with a value, class or function.

In [41]:
# Here, we are assigning the value of (2==3) to x with the help of assignment operator and in (2==3), here we are using
# equal to operator to find out the boolean value to be assigned.

x = (2==3)
print(x)

False

## Q7.) Identify the three blocks in this code :

In [48]:
spam = 0
if spam == 10:
    print("eggs")   # Block 1
if spam > 5:
    print("bacon")  # Block 2
else:
    print("ham")
    print("spam")
    print("spam")   # Block 3

ham
spam
spam

## Q8.) Write code that prints Hello if 1 is stored in spam, prints Howdy if 2 is stored in spam, and prints Greetings! if anything else is stored in spam.

In [45]:
spam=input("Enter the value: ")

if spam=="1":
    print("Hello")
elif spam=="2":
    print("Howdy")
else:
    print("Greetings!")

Enter the value: 3
Greetings!

## Q9.) If your programme is stuck in an endless loop, what keys you'll press?

Ctrl+C is used to interrupt the endless loop and exit that loop.

## Q10.) How can you tell the difference between break and continue?

Break statememt terminates the entire process or iteration of the loop but Continue statement only stops the current iteration of the loop and resumes with the next iteration.

In [52]:
# example of break statement

for i in range(10):
    if i==5:
        break
    print(i,end=" ")

0 1 2 3 4

In [51]:
# example of continue statement

for i in range(10):
    if i==5:
        continue
    print(i,end=" ")

0 1 2 3 4 6 7 8 9

## Q11.) In a for loop, what is the difference between range(10), range(0,10), and range(0,10,1)?

In a for loop, the range(10) and range(0,10) signifies the same thing. Both of the range value will start from 0 and go till 9 leaving the upper value given i.e. 10.

In [54]:
for i in range(10):
    print(i,end=" ")

0 1 2 3 4 5 6 7 8 9

In [55]:
for i in range(0,10):
    print(i,end=" ")

0 1 2 3 4 5 6 7 8 9

In a for loop, range(0,10,1) signifies that the value will start from 0 till 9 (leaving the upper bound number) and the step size will be 1 which will give the output (0,1,2,3,4,5,6,7,8,9). Had the step size been 2 it would have given the output skipping two digits like (0,2,4,6,8). 

Basically, all the three ranges provided will give the same output in a for loop.

In [58]:
for i in range(0,10,1):
    print(i,end=" ")

0 1 2 3 4 5 6 7 8 9

## Q12.) Write a short program that prints the numbers 1 to 10 using a for loop. Then write an equivalent program that prints the numbers 1 to 10 using a while loop.

In [59]:
for i in range(1,11):
    print(i,end=" ")

1 2 3 4 5 6 7 8 9 10

In [63]:
x=1
while x<11:
    print(x, end=" ")
    x+=1

1 2 3 4 5 6 7 8 9 10

## Q13.) If you had a function named bacon() inside a module named spam, how would you call it after importing spam?

We will call it using spam.bacon().