## Q1.) In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.

a) *       ---> mathematical operator (multiplication)

b) 'hello' ---> string

c) -87.8   ---> float

d) -       ---> mathematical operator (subtraction)

e) /       ---> mathematical operator (division)

f) +       ---> mathematical operator (addition)

g) 6       ---> integer

## Q2.) What is the difference between string and a variable?

Variables are identifiers which stores value or data. It can store Integer, Floating Point, String, Boolean values and many more. It follows a naming convention in which we use lowercase alphabets (a,b,c....,z), uppercase alphabets (A,B,C...,Z), integers (0,1,2,....9) and underscore (_).

String is a Data Type. Strings are declared inside ("...") or ('...'). It contains a list of characters in order. It can contain alphabets, numbers as well as special characters.

In [1]:
# String as a value inside a variable

input_1="Hello, What is your name and age?"
input_2="My name is Taylor and my age is 30."

print(input_1)
print(input_2)

Hello, What is your name and age?
My name is Taylor and my age is 30.

## Q3.) Describe three different data types.

Three different data types are :-

1) Integers :- They are whole numbers, without fractional component. They can be positive or negative.
   For eg. x=10, y= -7
   
2) Float :- They represent real numbers and are written with a decimal point.
   For eg. x=10.0, y= -1.414
   
3) String :- Strings in python are sequence of character data. They are created by enclosing characters in quotes.
   For eg. string1= "Hello World!"

In [2]:
x=10
type(x)

int

In [3]:
a=1.414
type(a)

float

In [4]:
s="Hello World!"
type(s)

str

## Q4.) What is an expression made up of? What do all expressions do?

An expression in Python is made up of operators, operands, identifiers and sometimes parenthesis. Expressions help in producing some value or result after being interpreted by the Python Interpreter.

Example of expression :-

In [5]:
x=25       # statement
b=x+25     # expression
print(b)

50

## Q5.) This assignment statement, like spam = 10. What is the difference between an expression and a statement?

Statement :- A statement in Python is a logical instruction that the Python Interpreter can read and execute. It is generally used for creating variables or displaying values. 

Expression :- It produces some value or result after being interpreted by the Python interpreter. It is a combination of variables, operators and operands.

For eg. -> In the above example, spam = 10 is a statement. Here, spam is getting assigned the value 10.
But, if we write spam+=10. Then it becomes an expression where again 10 will get added to spam and its value will get updated to 20.

In [6]:
spam =10
print(spam)

10

In [7]:
spam+=10       # spam+=10 can be rewritten as spam = spam+10
print(spam)

20

## Q6.) After running the following code, what does the variable bacon contain?

## bacon = 22
## bacon + 1

In [13]:
bacon = 22
bacon+1

23

In [14]:
print(bacon)    # we are adding 1 to bacon but the variable bacon will still contain the value 22

22

In [15]:
# if we had written 
bacon+=1   #This would have initialized and updated the value of the variable bacon to 23
print(bacon)

23

## Q7.) What should be the values of the following two terms be?
 
## 'spam'+'spamspam'
## 'spam'*3

The output for both will be 'spamspamspam'. In the first case, we are doing concatenation between the strings and in the second case, multiplying it by 3 will give three spam outputs means it gets replicated that number of times.

In [16]:
'spam'+'spamspam'

'spamspamspam'

In [17]:
'spam'*3

'spamspamspam'

## Q8.) Why is eggs a valid variable name while 100 is invalid?

While we name the identifiers, we follow a naming convention which states, we can start the name of the identifier with lowercase alphabets, uppercase alphabets and even an underscore (_). But, we can't start the name of an identifer with numerical data. That's why eggs is a valid variable name and 100 is invalid.

## Q9.) What three functions can be used to get the integer, floating-point number, or string version of a value?

We can do typecasting and use int(), float(), str() functions to get the integer, floating-point number, or string version of a value.

In [20]:
a=int(3.4)
type(a)

int

In [23]:
b=float(3.4)
type(b)

float

In [24]:
c=str(3.4)
type(c)

str

##  Q10.) Why does this expression cause an error? How can you fix it?

## 'I have eaten' +99+'burritos.'

In this expression, the value 99 passed as an integer causes the error, because to concatenate we need to have same data type. So, to fix this we will have to pass 99 as a string in the expression.

In [26]:
'I have eaten' + ' 99 ' +' burritos'

'I have eaten 99  burritos'