## Q1.) What exactly is []?

It signifies an empty list in python. List is one of the Data Structures in Python and it is usually represented within the square brackets [].

## Q2.) In a list of values stored in a variable called spam, how would you assign the value 'hello' as the third value? (Assume [2,4,6,8,10] are in spam.)

In [1]:
# We will assign 'hello' as the third value given below.

spam=[2,4,6,8,10]

In [2]:
spam[2]="hello"

In [3]:
spam

[2, 4, 'hello', 8, 10]

In [4]:
# We can even insert it in the third value directly without replacing the 6.
spam=[2,4,6,8,10]
spam.insert(2,"hello")

In [5]:
spam

[2, 4, 'hello', 6, 8, 10]

## Q.) Let's pretend the spam includes the list ['a','b','c','d'] for the next three queries.

##               Q3.) What is the value of spam[int(int('3'*2)/11]?

In [6]:
spam=['a','b','c','d']

Here 3 is getting replicated two times, so it will become 33 and it is typecasted to integer. So, now when we will divide it by 11, we will get 3, which is again typecasted as a n integer and we will get spam[3] which indicates it will give 'd' as the output because 3 here indicates the third index value.

In [8]:
spam[int(int('3'*2)/11)]

'd'

## Q4.) What is the value of spam[-1]?

spam[-1] indicates the first value from the last, which will give 'd' as the output.

In [9]:
spam[-1]

'd'

## Q5.) What is the value of spam[:2]?

spam[:2] indicates elements from 0 to 1, because we leave the upper bound and take the value one less to it. So, this will return 'a' and 'b'.

In [10]:
spam[:2]

['a', 'b']

## Q.) Let's pretend bacon has the list [3.14,'cat',11,'cat',True] for the next three questions.

## Q6.) What is the value of bacon.index('cat')?

.index() returns the index value of the element passed inside it and if there are more than one occurence then it returns the index value of the first occurence. So, here in bacon.index('cat') it will return the first index value of the occurence which is 1.

In [11]:
bacon=[3.14,'cat',11,'cat',True]
bacon.index('cat')

1

## Q7.) How does bacon.append(99) change the look of the list value in bacon?

.append() is used in adding elements to the existing list, and it adds the element at the last index. So, bacon.append(99) will add 99 at the last index of the list.

In [17]:
bacon.append(99)
bacon

[3.14, 'cat', 11, 'cat', True, 99]

## Q8.) How does bacon.remove('cat') change the look of the list in bacon?

.remove() is used to remove the specified element passed as an argument from the list. So, bacon.remove('cat') will remove the first occurence of cat from the list.

In [18]:
bacon.remove('cat')
bacon

[3.14, 11, 'cat', True, 99]

## Q9.) What are list concatenation and list replication operators?

List Concatenation operator is used to combine two list as one with the help of " + " operator and List Replication operator is used to replicate a given list n no. of times with the help of " * " operator.

In [19]:
list1=[1,2,3,4]
list2=[5,6,7,8]
list1 + list2    #List Concatenation

[1, 2, 3, 4, 5, 6, 7, 8]

In [20]:
list1=[1,2,3,4]*4    #List Replication
list1

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

## Q10.) What is the difference between the list methods append() and insert()?

append() method is used to add the element to a list. But, by default it adds the element at the last index of the list.

insert() method also adds element to the list, but it adds the element at whatever index you pass as an argument with the element.

In [21]:
list1=[1,2,3]
list1.append(4)
list1

[1, 2, 3, 4]

In [22]:
list1.insert(2,'hello')
list1

[1, 2, 'hello', 3, 4]

## Q11.) What are the two methods for removing items from a list?

The two methods for removing items from a list are :- pop() and remove()

pop() method removes the element by default from the last index, but if index is passed it can also remove element from that index.

remove() method removes the element passed as an argument in the function and if there are more than one occurences then it removes the first occurence.

In [28]:
list1=[1,2,3,4,'hello','world',78,[3,4]]

In [29]:
list1.remove(3)

In [30]:
list1

[1, 2, 4, 'hello', 'world', 78, [3, 4]]

In [31]:
list1.pop(5)

78

## Q12.) Describe how list values and string values are identical.

List values and String values are identical in the following ways :-

1) They both are sequenced i.e. ordered collection of data.

2) They both have a length i.e. the number of elements or characters they contain.

3) They both can be indexed which helps to give the access of the individual elements by their position.

4) We can perform slicing operation on both the values.

5) We can manipulate the strings and lists such as by adding or removing elements, changing the order etc.

## Q13.) What is the difference between tuples and lists?

Tuples are one of the data structures in python. They are defined inside parenthesis (). They are ordered and immutable.

Lists are one of the data structures defined inside square brackets []. They are ordered but mutable.

In [32]:
a=[1,2,3,4]

#This shows list is an ordered data
print(a[0])
print(a[1])

1
2

In [33]:
# List is mutable means list value can be modified or altered. For eg.,
a[0]="hello"
a

['hello', 2, 3, 4]

In [34]:
b=(1,2,3,4)

#This shows tuple is also an ordered data
print(b[0])
print(b[1])

1
2

In [35]:
#But tuple will give an error if we try to modify the value of the elements.

b[0]='hello'
b

TypeError: 'tuple' object does not support item assignment

## Q14.) How do you type a tuple value that only contains the integer 42 ?

In [38]:
a=(42,)    # here we will have to add a comma after 42, so that the data type is returned a tuple. 
a          # Single value in tuples are stored with a comma.

(42,)

In [39]:
type(a)

tuple

## Q15.) How do you get a list value's tuple form? How do you get a tuple value's list form?

We can change list value's in form of tuple with the help of typecasting. We can typecast list and get the data type in the form of tuple. Same, can be done in the transformation of tuple to list. We can typecast tuple value into list and get the data type in the form of list.

In [40]:
list1=[1,2,3,4,5]
b=tuple(list1)
b

(1, 2, 3, 4, 5)

In [41]:
type(b)

tuple

In [42]:
tup1=(5,6,7,8,9)
a=list(tup1)
a

[5, 6, 7, 8, 9]

In [43]:
type(a)

list

## Q16.) Variables that "contain" list values are not necessarily lists themselves. Instead, what do they contain?

Python uses references whenever variables must store values of mutable data types, such as lists or dictionaries. Therefore, variables that "contain" list values are not necessarily lists themselves rather they contain reference to the list values.

## Q17.) How do you distinguish between copy.copy() and copy.deepcopy()?

If we have a list which has nested list in it. In this case we can see the difference between copy.copy() and copy.deepcopy().

copy.copy() helps to make a shallow copy of the list. If you modify elements outside the nested list, it will have no impact on the copied list. But, if you modify something inside nested list, then it show it in the copied one also.

copy.deepcopy() helps to make a deep copy of the list as well as the nested list inside it. So, that whenever we make changes inside the list and the nested one, there are no changes in the deepcopy one. Let's see this with the help of example.

In [44]:
import copy

list1=[1,2,3,4,[5,6,7,8,9]]
list2=copy.copy(list1)

In [45]:
list2

[1, 2, 3, 4, [5, 6, 7, 8, 9]]

In [47]:
# making changes in the list1 outside the nested list
list1[2]="cherry"
print(list1)
print("------------------------------------")
print(list2)

[1, 2, 'cherry', 4, [5, 6, 7, 8, 9]]
------------------------------------
[1, 2, 3, 4, [5, 6, 7, 8, 9]]

In [49]:
# making changes inside the nested list
list1[4][2]="Mercedes G-Wagon"
print(list1)
print("----------------------------------------------")
print(list2)

[1, 2, 'cherry', 4, [5, 6, 'Mercedes G-Wagon', 8, 9]]
----------------------------------------------
[1, 2, 3, 4, [5, 6, 'Mercedes G-Wagon', 8, 9]]

In [50]:
list3=[1,2,3,4,[5,6,7,8,9]]
list4=copy.deepcopy(list3)

In [51]:
list4

[1, 2, 3, 4, [5, 6, 7, 8, 9]]

In [52]:
# making changes in the list3 outside the nested list
list3[2]="Paris"
print(list3)
print("------------------------------------")
print(list4)

[1, 2, 'Paris', 4, [5, 6, 7, 8, 9]]
------------------------------------
[1, 2, 3, 4, [5, 6, 7, 8, 9]]

In [53]:
# making changes inside the nested list
list3[4][2]="Rolls Royce Cullinan"
print(list3)
print("----------------------------------------------")
print(list4)

[1, 2, 'Paris', 4, [5, 6, 'Rolls Royce Cullinan', 8, 9]]
----------------------------------------------
[1, 2, 3, 4, [5, 6, 7, 8, 9]]